---
layout: index.pug
language: hy
permalink: /hy/
---

.header.full-width
  .contents
    h1 Բարի գալուստ
    br
    h1 Թվային առաջին օգնության հավաքածու։
    br
    h1#sub Հավաքածու, որը ձեզ կկապի CiviCERT-ի համապատասխան մասնաճյուղի հետ

.intro
  .contents
    p Թվային առաջին օգնության հավաքածուն անվճար ռեսուրս է, որն օգնում է արագ արձագանքողների խմբերին, թվային անվտանգության մասնագետներին ու տեխնոլոգիական ոլորտին տիրապետող ակտիվիստներին ավելի լավ պաշտպանել իրենց և իրենց համայնքներին՝ թվային արտակարգ իրավիճակների ամենատարածված տեսակների դեմ։ Հավաքածուն կարող է օգտագործվել նաև այն ակտիվիստների, մարդու իրավունքի պաշտպանների, բլոգերների, լրագրողների կամ լրատվամիջոցների կողմից, ովքեր ցանկանում են ավելին իմանալ այն մասին, թե ինչպես պաշտպանել իրենց և աջակցել ուրիշներին։ Եթե դուք կամ ինչ-որ մեկն, ում օգնություն եք ցուցաբերում, թվային արտակարգ իրավիճակում եք, ապա Թվային առաջին օգնության հավաքածուն կօգնի ախտորոշել ձեր խնդիրը և անհրաժեշտության դեպքում կուղղորդի ձեզ համապատասխան այլ հարթակ՝ հավելյալ աջակցության համար։

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 Ի՞նչ խնդրի եք բախվել։

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Կորցրել եմ թվային սարքավորումս
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Կորցրել եմ մուտքս իմ հաշիվներ
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Սարքավորումս տարօրինակ է գործում
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Կասկածելի հաղորդագրություններ եմ ստանում
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Իմ կայքէջը չի աշխատում
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Ինչ-որ մեկն ինձ օնլայն նմանակում է
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Ինձ օնլայն վարկաբեկում են
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Կորցրել եմ տվյալներս
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Մեկին, ում ճանաչում եմ, բանտարկել են
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p Ես հայտնվել եմ զրպարտչական արշավի թիրախում
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p Կարծում եմ, որ ինձ հետապնդում են
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p Ինձ դոքսինգի (կիբերբուլինգի) են ենթարկել, կամ ինչ-որ մեկն իմ կամքին հակառակ կիսվում է անձնական տվյալներովս ու ֆայլերովս

    p.after
      | Ընտրեք խնդիրը, որին բախվել եք, և Թվային առաջին օգնության հավաքածուն
      | ձեզ կառաջնորդի հարցաշարով՝ ձեր խնդիրն ավելի լավ հասկանալու ու
      | օգնության միջոցներ գնտելու համար։ Այն խնդիրների համար, որոնք ինքնուրույն
      | լուծել չեք կարող, DFAK-ն (Թվային առաջին օգնության հավաքածուն) կառաջարկի
      a(href="support/") համապատասխան կազմակերպությունների ցանկ, որոնց հետ կարող եք խորհրդակցել։
      |

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 Է՞Լ ԻՆՉ ՊԵՏՔ Է ԻՄԱՆԱԼ։
          p
            | Թվային առաջին օգնության հավաքածուն նախտեսված չէ վերջնական լուծում տրամադրելու
            | ձեր բոլոր թվային արտակարգ իրավիճակներին։ Եթե վստահ չեք, թե ինչպես անդրադառնալ
            | ձեր առջև ծառացած խնդիրներին, ապա խնդրում ենք ծանոթանակ այս ցուցակի
            a(href="support/") աջակցող կազմակերպություններին։
            |
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 ՃՆՇՎԱ՞Ծ ԵՔ ՁԵԶ ԶԳՈՒՄ։
          p
            | Օնլայն վարկաբեկումը, սպառնալիքներն ու այլ տեսակի թվային հարձակումները կարող են
            | ծանրաբեռնել ձեր զգացմունքներն ու խաթարել ձեր բարեկեցությունը։ Կարդացեք մեր
            a(href="self-care/") ինքնախնամքի բաժինը։
            | Այնտեղ կգտնեք միջոցներ ու կազմակերպություններ, որոնք կարող են աջակցել ու
            | միջամտել։
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 Ո՞Վ Է ԿԱՆԳՆԱԾ ԹՎԱՅԻՆ ԱՌԱՋԻՆ ՕԳՆՈՒԹՅԱՆ ՀԱՎԱՔԱԾՈՒԻ ԵՏԵՎՈՒՄ։
          p
            | Այս ռեսուրսը
            a(href="https://rarenet.org") Rapid Response Network-ի
            | և
            a(href="https://civicert.org") CiviCERT-ի համատեղ աշխատանքի արդյունքն է
            | ։ Տեսե՛ք
            a(href="about/") մեր մասին բաժինը՝
            | հավելյալ ինֆորմացիայի համար։ Թվային առաջին օգնության հավաքածուն բաց աղբյուր է և մենք ողջունում ենք
            a(href="https://gitlab.com/rarenet/dfak") արտաքին նվիրատվություններ։
            |
