---
layout: index.pug
language: uk
permalink: /uk/
---

.header.full-width
  .contents
    h1 Вітаємо на проєкті
    br
    h1 Комплект екстреної цифрової допомоги!
    br
    h1#sub Ми допоможемо вам підібрати потрібну команду CiviCERT

.intro
  .contents
    p Комплект екстреної цифорової допомги - це безкоштовний ресурс, який допоможе оперативним консультантам, інструкторам із цифрової безпеки та грамотним технічним активістам краще захистити себе і спільноту, яку вони підтримують, від найпоширеніших видів цифрових небезпек. Він також буде корисним активістам, правозахисникам, блогерам, журналістам або медіа-активістам, які хочуть дізнатись більше про те, як захистити себе та підтримати інших. Якщо ви або хтось, кому ви допомагаєте, зіштовхнулися з цифровою небезпекою, Комплект екстреної цифрової допомоги дасть вам настанови щодо діагностування проблеми, з якою ви зіштовхнулись, і спрямує вас до тих організацій, які, за необхідності, зможуть надати вам подальшу допомогу.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 З якою проблемою ви зіштовхнулись?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Я втратив(-ла) свій пристрій
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Я втратив(-ла) доступ до своїх облікових записів
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Мій пристрій поводиться підозріло
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Я отримав(-ла) підозрілі повідомлення
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Мій вебсайт не працює
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Хтось імперсоніфікує мене онлайн
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Я зазнаю онлайн переслідування
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Я втратив(-ла) свої дані
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Мого знайомого (мою знайому) заарештували
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p На мене націлена кампанія зі знеславлення
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p Я думаю, що за мною ведеться спостереження
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p Я зазнав(-ла) доксингу або хтось розповсюджує мої особисті дані або медіа без моєї згоди

    p.after
      | Оберіть проблему, з якою ви зіткнулись, і Комплект екстреної цифрової допомоги
      | поставить вам певні запитання для кращого діагностування вашої
      | проблеми та підбере ресурси, аби вам допомогти. Якщо ви не можете справитись зі своїми
      | проблемами самостійно, у КЕЦД є
      a(href="support/") перелік організацій, з якими ви можете проконсультуватись
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ЩО ЩЕ ВИ ХОТІЛИ Б ДІЗНАТИСЬ?
          p
            | Комплект екстреної цифрової допомоги не слугує остаточним рішенням для всіх
            | ваших надзвичайних цифрових ситуацій. Якщо ви не впевнені, як справитись
            | із проблемами, з якими ви зіткнулись, будь ласка, зверніться до переліку
            a(href="support/") організацій, з якими ви можете проконсультуватись.
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 ПОЧУВАЄТЕСЬ ЗАНАДТО ПРИГОЛОМШЕНИМИ?
          p
            | Онлайн переслідування, погрози та інші види цифрових атак можуть
            | бути величезним тягарем для почуттів та благополуччя. Прочитайте наші
            a(href="self-care/") Поради щодо піклування про себе
            | та дізнайтесь про інші ресурси та організації, які можуть підтримати вас та
            | мінімізувати вплив.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ХТО РОЗРОБЛЯЄ КОМПЛЕКТ ЕКСТРЕНОЇ ЦИФРОВОЇ ДОПОМОГИ?
          p
            | Цей ресурс є продуктом спільних зусиль
            a(href="https://rarenet.org") Rapid Response Network
            | та
            a(href="https://civicert.org") CiviCERT
            | . Див. сторінку
            a(href="about/") Про нас
            | для отримання детальної інформації. Комплект екстреної цифрової допомоги - проєкт із відкритим вихідним кодом, який приймає
            a(href="https://gitlab.com/rarenet/dfak") зовнішню допомогу
            | .
